/*******************************************************************************
 * KEYPAD CSS - please view Successmaker rootsco for the keypad that this relates to.
 * used to enable Learners to input values into a Storyboard text input
 * any gadget can listen for the trigger that sends the math symbol, so FIB, etc.
 * Used in Speedgames and Successmaker Storyboard
 *
 ******************************************************************************/

/*** BUTTON KEYPAD ***/
.ui-keypad {
	position: fixed;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	bottom: 50px;
	right: 30px;
	left: auto;
	top: auto;
	z-index: 4000;
}

.ui-keypad .collapsible-keypanel {
	padding: 6px;
	width: 216px;
	max-height: 348px;
	height: auto;
	z-index: 4000;
	background-color: #31aad5;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ui-keypad .base-button .button-text {
	min-height: 28px;
	line-height: .8;
	font-size: 35px;
	width: 28px;
	height: 28px;
	background-color: #31aad5;
	border: 1px solid #56C9EC;
	border-radius: 50%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.ui-keypad #kp-enter .button-text, .ui-keypad #kp-delete .button-text {
	border-radius: 0;
	width: 82px;
	font-size: 26px;
}

/* alt button default state for operators */
.ui-keypad #kp-division .button-text, 
.ui-keypad #kp-multiplication .button-text, 
.ui-keypad #kp-subtraction .button-text, 
.ui-keypad #kp-addition .button-text, 
.ui-keypad #kp-less-than .button-text,
.ui-keypad #kp-greater-than .button-text, 
.ui-keypad #kp-insert-x .button-text, 
.ui-keypad #kp-equal .button-text {
	background-color: #038bb6;
}

/* all have the same hover/down... */
.ui-keypad .base-button .base-button-over .button-text, .ui-keypad #kp-division .base-button-over .button-text, .ui-keypad #kp-multiplication .base-button-over .button-text, .ui-keypad #kp-subtraction .base-button-over .button-text, .ui-keypad #kp-addition .base-button-over .button-text, .ui-keypad #kp-less-than .base-button-over .button-text, .ui-keypad #kp-greater-than .base-button-over .button-text, .ui-keypad #kp-insert-x .base-button-over .button-text, .ui-keypad #kp-equal .base-button-over .button-text {
	background-color: #185E82;
}

.ui-keypad .base-button .base-button-down .button-text, .ui-keypad #kp-division .base-button-down .button-text, .ui-keypad #kp-multiplication .base-button-down .button-text, .ui-keypad #kp-subtraction .base-button-down .button-text, .ui-keypad #kp-addition .base-button-down .button-text, .ui-keypad #kp-less-than .base-button-down .button-text, .ui-keypad #kp-greater-than .base-button-down .button-text, .ui-keypad #kp-insert-x .base-button-down .button-text, .ui-keypad #kp-equal .base-button-down .button-text {
	color: #94C9DF;
}

.ui-accordion-header-icon.ui-icon {
	height: 16px;
	width: 16px;
	background: orange;
	position: absolute;
	right: 10px;
	top: 4px;
	left: auto;
}

.ui-accordion-header-icon.ui-icon-triangle-1-s {
	background: #31aad5;
}

.ui-accordion-header-icon.ui-icon-triangle-1-e {
	background: #46c6ea;
	max-height: 7px;
	top: 8px;
	position: absolute;
}

.ui-keypad-handle {
	height: 45px;
	width: 228px;
	cursor: move;
	position: relative;
	background: -moz-linear-gradient(top, rgba(1,148,189,0.78) 0%, rgba(1,148,189,0.84) 25%, rgba(2,127,168,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,148,189,0.78)), color-stop(25%,rgba(1,148,189,0.84)), color-stop(100%,rgba(2,127,168,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(1,148,189,0.78) 0%,rgba(1,148,189,0.84) 25%,rgba(2,127,168,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, rgba(1,148,189,0.78) 0%,rgba(1,148,189,0.84) 25%,rgba(2,127,168,1) 100%); /* Chrome10+,Safari5.1+ */

}

.ui-keypad .keypad-button {
	float: left;
	height: auto;
	margin: 0;
	padding: 4px 2px;
}

.ui-keypad .button-text {
	min-width: 19px;
}
